{% extends "base.html" %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        <div>{{ message.message }}</div>
    {% endfor %}
{% endif %}
<h1>掲示板"一覧"画面</h1>
{% if user.is_authenticated %}
    {% if user.status == "teacher" %}
        <div><a class="navbar-brand" href="{% url 'boards:create_theme' %}">掲示板を新たに作成</a></div>
    {% endif %}
{% endif %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>掲示板番号</th>
            <th>作成日</th>
            <th>タイトル</th>
            <th>作成者</th>
        </tr>
    </thead>
    <tbody>
    {% for theme in themes %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ theme.created_at|date:"Y/m/d" }}</td>
            <td><a href="{% url 'boards:post_comments' theme_id=theme.id%}">{{ theme.title }}</a></td>
            {% if theme.user.id == user.id %}
                <td><a href="{% url 'boards:edit_theme' id=theme.id %}">{{ theme.user }}先生</a></td>
            {% else %}
                <td>{{ theme.user }}先生</td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
    
</table>

<div class="pager">
    <!-- 前のページへのリンク -->
    {% if articles.has_previous %}
        <a href="?p={{ articles.previous_page_number }}">前へ</a>
    {% endif %}

    <!-- 現在のページ番号と全体のページ数 -->
    {% if articles %}
        <span>
            {{ articles.number }} / {{ articles.paginator.num_pages }}
        </span>
    {% endif %}

    <!-- 次のページへのリンク -->
    {% if articles.has_next %}
        <a href="?p={{ articles.next_page_number }}">次へ</a>
    {% endif %}
</div>

<div><p>タイトルをクリックすると、その掲示板の中の詳細画面にうつります。<br>
掲示板の作成、コメントの送信は「先生」のユーザーしかできません。
掲示板の作成者のみ、作成者の名前をクリックできるようになり、掲示板の編集、削除ができます。</p></div>
{% endblock %}