{% extends "base.html" %}
{% block content %}
<h3>{{ theme.title }}</h3>
{% for comment in comments %} 
<div id="comment">
<p>名前：{{ comment.user.first_name }}先生</p>
<p>投稿日：{{ comment.created_at | date:"Y/m/d" }}</p>
<p>投稿内容：{{ comment.comment | linebreaks }}</p>
    {% if comment.attach %}
    <p>添付ファイル：{{ comment.attach }}</p>
    {% endif %}
</div>
{% endfor %}

{% if user.is_authenticated %}
    {% if user.status == "teacher" %}
    <div id="post_comment">
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ post_comment_form.as_p }}
    
        <input type="submit" value="投稿">
        </form>
    </div>
    {% endif %}
{% endif %}

{% endblock %}