{% extends "base.html" %}
{% block content %}
<h3>{{ theme.title }}</h3>
{% for comment in comments %} 
    <div id="comment">
    <p>名前：{{ comment.user.first_name }}先生</p>
    <p>投稿日：{{ comment.created_at | date:"Y/m/d" }}</p>
    <p>投稿内容：{{ comment.comment }}</p>
        {% if comment.attach %}
        <p>添付ファイル：<a href="{{ comment.attach.file.url }}" download="{{ comment.attach.file.name }}" >ファイルをダウンロード</a></p>
        {% endif %}
    {% if comment.user.id == user.id %}
    <a href="{% url 'boards:edit_comment' id=comment.id %}">コメント編集</a>
    <a href="{% url 'boards:delete_comment' id=comment.id %}">コメント削除</a>
    {% endif %}
    </div>
{% endfor %}
    
{% if user.is_authenticated %}
    {% if user.status == "teacher" %}
    <div id="post_comment">
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ post_comment_form.as_p }}
    
        <input type="submit" value="投稿">
        </form>
    </div>
    {% endif %}
{% endif %}

<a href="{% url 'boards:list_themes' %}">戻る</a>
{% endblock %}