{% extends "base.html" %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        <div>{{ message.message }}</div>
    {% endfor %}
{% endif %}
<form method="POST" enctype="multipart/form-data" >
<h1>ユーザー情報更新画面</h1>
{% csrf_token %}
{{ user_edit_form.as_p }}
<div class="buttons">
    <a id="password-button" href="{% url 'accounts:change_password' %}">パスワード変更</a>
    <input class="execution-button" type="submit" value="更新">
    <a class="delete-button" href="{% url 'accounts:delete' id=user.id  %}">ユーザー削除</a>
    <a class="return-button" href="{% url 'accounts:home' %}">ホームに戻る</a>
</div>
</form>
{% endblock %}