{% extends 'base.html' %}
{% block content %}
{% if messages %}
{% for message in messages %}
    <div>{{ message.message }}</div>
{% endfor %}
{% endif %}

<h1>ホーム画面</h1>

<p>このアプリは学校の先生からの連絡を家庭で閲覧できることを目的として作られたアプリです。以下の通りの機能を持っています。</p>

<div id='function-introduce'>
    <h2>各機能紹介</h2>
    <ul>
        <li>ユーザー情報更新</li>
        <p>ユーザー登録時の情報を編集、また、登録されたユーザーの削除ができます。</p>
        <li>掲示板一覧</li>
        <p>教師アカウントは掲示板の作成、編集、削除が可能です。また、各掲示板でコメントの投稿、編集、削除が可能です。</p>
        <p>生徒、アカウントは掲示板の閲覧、各掲示板のコメントの閲覧が可能です。</p>
        <li>掲示板検索</li>
        <p>掲示板の名前を検索することが可能です。</p>
    </ul>
</div>



{% endblock %}