<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <h2>新規ユーザー登録画面</h2>
    </head>
    <body>
        <form method="POST">
            {% csrf_token %}
            {{ new_regist_form.as_p }}
            <input type="submit" value="ユーザ登録">
        </form>
    <a href="{% url 'accounts:welcome' %}">戻る</a>
    </body>
</html>
